widget#EmailWidget
{
    display: block;
    width: 100%;
    height: 12.5u;  /* From layout data: Based on 3-row widget height */
    direction: ltr;
}

box#SetupContainer
{
    display: block;
    padding-top:    0.5u; /* From layout data */
    padding-bottom: 0.5u; /* From layout data */
    padding-left:   0.5u; /* From layout data */
    padding-right:  0.5u; /* From layout data */
    width: 100%;
    height: 100%;
    direction: ltr;
    block-progression: tb;
    touchfeedback: basic;
    nav-index: appearance;	
}

box#MailsContainer
{
    display: block;
    padding-top:    0.5u; /* From layout data */
    padding-bottom: 0.5u; /* From layout data */
    padding-left:   0.5u; /* From layout data */
    padding-right:  0.5u; /* From layout data */
    width: 100%;
    height: 100%;
    direction: ltr;
    block-progression: tb;
    touchfeedback: basic;
    nav-index: appearance;	
}

box:focus
{
    border-color: cyan;
	focus-background:"SKIN(268458534 9896)";
}

box.row_container
{
    display: block;
    padding-top:    0.25u;  /* From layout data */
    padding-bottom: 0u;     /* From layout data: Padding between rows is included in top padding */
    width:          auto;   /* From layout data: Fit to screen */
    height:         3.5u;   /* From layout data: Height inside padding */
    block-progression: lr;
    direction: ltr;
    nav-index:auto;
}

box.image_container
{
    display: block;
    padding-left:   0.5u;   /* From layout data */
    padding-right:  0.5u;   /* From layout data */
    width:          3.5u;   /* From layout data */
    height:         auto;   /* From layout data: Fills whole row_container height (3.5u) */
    block-progression: lr;
    direction: ltr;
}

box.text_field_container
{
    display: block;
    padding-left:   0.5u;   /* From layout data */
    padding-right:  0.5u;   /* From layout data */
    width:          auto;   /* From layout data: This box is in the middle and width depends on available space */
    height:         auto;   /* From layout data: Fills whole row_container height (3.5u) */
    block-progression: lr;
    direction: ltr;
}

box.mail_time_container
{
    display: block;
    padding-left:   0.5u;   /* From layout data */
    padding-right:  0.5u;   /* From layout data */
    width:        13.23u;   /* From layout data: 12h clock = 3.78 * font-size  (24h clock = 2.20 * font-size) */
    height: auto;
    block-progression: lr;
    direction: ltr;
}

box.indicator_image_container
{
    display: block;
    padding-left:   0.5u;
    padding-right:  0.5u;
    width:          3.5u;
    height:         3.5u;
    block-progression: lr;
    direction: ltr;
}

text
{
    display: block;
    position: static;
    text-align: left;
    font-family: EAknLogicalFontSecondaryFont;  /* LAF font */
    font-size: 3.5u;                            /* LAF font-size */
    _s60-text-valign: top;                      /* Set vertical text position correctly */
    color:"SKIN(268458534 13056 74)";           /* LAF color */     
    direction: ltr;
}

text.time_text
{
    text-align: right;
}

