widget#EmailWidget
{
    display:          block;
    width:            100%;
    height:           12.5u;  /* From layout data: Based on 3-row widget height */
    direction:        ltr;
}

box#SetupContainer
{
    display:          block;
    padding-top:      0.5u; /* From layout data */
    padding-bottom:   0.5u; /* From layout data */
    padding-left:     0.5u; /* From layout data */
    padding-right:    0.5u; /* From layout data */
    width:            100%;
    height:           100%;
    direction:        ltr;
    block-progression:tb;
    nav-index:        appearance;	
}

box#MailsContainer
{
    display: block;
    padding-top:      0.5u; /* From layout data */
    padding-bottom:   0.5u; /* From layout data */
    padding-left:     0.5u; /* From layout data */
    padding-right:    0.5u; /* From layout data */
    width:            100%;
    height:           100%;
    direction:        ltr;
    block-progression:tb;
    nav-index:        appearance;	
}

box.row_container
{
    display:          block;
    padding-top:      0.1u;
    padding-bottom:   0.2u;
    width:            auto;
    height:           3.5u;
    block-progression:lr;
    direction:        ltr;
    nav-index:        auto;
}

box.line_container
{
    display:          block;
    padding-top:      2px;
    padding-bottom:   0u;
    width:            auto;
    height:           2px;
}

box.setup_row_2_container
{
    display:          block;
    padding-top:      1u;
    padding-bottom:   1u;
    padding-left:     18u;
    width:            auto;
    height:           auto;
    block-progression:lr;
    direction:        ltr;
}

box.setup_brand_container
{
    display:          block;
    width:            6u;
    height:           6u;
    block-progression:lr;
    direction:        ltr;
}

text
{
    display:          block;
    position:         static;
    text-align:       left;
    font-family:      EAknLogicalFontSecondaryFont;  /* LAF font */
    font-size:        3.5u;                            /* LAF font-size */
    _s60-text-valign: top;                      /* Set vertical text position correctly */
    color:            "SKIN(268458534 13056 74)";           /* LAF color */     
    direction:        ltr;
    width:            auto;   /* From layout data: This box is in the middle and width depends on available space */
    height:           auto;   /* From layout data: Fills whole row_container height (3.5u) */    
}

text.mailbox_text
{
    padding-left:     0.5u;
    width:            auto;
}

text.sender_text
{
    padding-left:     0.5u;   /* From layout data */
    width:            30%;    
}

text.subject_text
{
    padding-left:     0.5u;   /* From layout data */    
    width:            auto;
}

text.time_text
{
    text-align:       right;
    width:            adaptive;
    height:           auto;
    padding-right:    0.5u;
    padding-left:     0.2u;
}

image.mailbox_icon
{
    padding-left:     0.5u;
    padding-right:    0.5u;
    width:            3.5u;
    height:           auto;
    _s60-aspect-ratio:preserve
}

image.indicator_icon
{
    padding-left:     0.5u;
    padding-right:    0.5u;
    width:            3.5u;
    height:           3.5u;
    _s60-aspect-ratio:preserve
}

image.horizontal_line
{
    height: auto; 
    width: auto;
    
    path: "SKIN(270501603 4967)";
}